:root {
    /* Colors */
    --primary-red: #8b0000;
    --cream-white: #fffcf2;
    --olive-green: #556b2f;
    --dark-charcoal: #252422;

    /* Fonts */
    --font-main: 'Georgia', serif;
    --font-accent: 'Verdana', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: var(--cream-white);
    color: var(--dark-charcoal);
    font-family: var(--font-main);
}

.nav-bar {
    background-color: var(--olive-green);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* icon and restaurant name */
    & .logo-container {
        margin-inline-start: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & .logo-icon {
            margin-inline-end: 10px;
            font-size: 1.5rem;
        }

        & .logo-text {
            color: var(--cream-white);
            font-size: 20px;
            font-weight: bold;
        }
    }

    /* buttons */
    & ul {
        list-style: none;
        display: flex;

        & button {
            background-color: var(--olive-green);
            color: var(--cream-white);
            padding: 10px 20px;
            border: none;
            font-family: var(--font-accent);
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--primary-red);
            }

            &.active {
                background-color: var(--primary-red);
                font-weight: bold;
            }
        }
    }
}

/* menu */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    padding: 20px;

    & .menu-card {
        background-color: white;
        height: 100%;
        border: 1px solid var(--olive-green);
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.2s ease;
        cursor: pointer;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        }

        & .menu-card-header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 10px;

            & h2 {
                color: var(--olive-green);
            }

            & span {
                font-weight: bold;
                color: var(--olive-green);
            }
        }

        & p {
            color: grey;
            font-style: italic;
        }
    }
}